<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Vue 3 Boolzapp
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <main class="flex">
            <section class="userbar flex  flex-column">
                <div class="user-profile user-chat-profile">
                    <img class="my-io" src="./img/avatar_io.jpg">
                    <div class="icons">
                        <ul>
                            <li><i class="fa-solid fa-circle-notch"></i></li>
                            <li><i class="fa-solid fa-message"></i></li>
                            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="notifications">
                    <div class="circle"><i class="fa-solid fa-bell-slash"></i></div>
                    <div class="text-alert">
                        <p class="grassetto">Ricevi notifiche di nuovi messaggi</p>
                        <p class="sottolineato">Attiva notifiche dekstop</p>
                    </div>
                </div>
                <div class="searchbar">
                    <input type="text" name="new-chat" id="new-chat" class="newChat"
                        placeholder=" &#128269; Cerca o inizia una nuova chat" v-model="ricercaNome">
                </div>
                <div class="contacts" v-for="(element,index) in trovaContatto()" @click="chat(index)" :class= "(index === currentChat) ? 'active' : '' ">
                    <!-- TODO: contacts list will show up here -->
                    <img class="my-io" :src="element.avatar">
                        <div class="info-contact">
                            <p class="grassetto">{{element.name}}</p>
                            <p class="grey">Ultimo messaggio inviato</p>
                        </div>
                        <div>
                            <p class="absolute grey">12.00</p>
                        </div>
                </div>
            </section>
            <section class="conversation-container flex flex-column">
                <div class="user-profile profile">
                    <img class="chat-avatar" :src="contacts[currentChat].avatar">
                    <div class="info-contact">
                        <p class="grassetto">{{contacts[currentChat].name}}</p>
                        <p class="grey">Ultimo accesso oggi alle 12.00</p>
                    </div>
                    <div class="icons-chat">
                        <ul>
                            <li><i class="fa-solid fa-circle-notch"></i></li>
                            <li><i class="fa-solid fa-message"></i></li>
                            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                        </ul>
                    </div>
                </div>
                
                <div class="messages clearfix" v-for="messaggio in contacts[currentChat].messages">
                <article class="message" :class="(messaggio.status === 'sent')  ? 'sent' : 'received'">
                        {{messaggio.message}}
                    </article>
                
                </div>
           
                <div class="message-input flex-center">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" class="new-message" placeholder="scrivi un messaggio" v-model="newMessage" @keyup.enter="writeMessage(newMessage)">
                    <i class="fa-solid fa-microphone-lines"></i>
                </div>
            </section>
        </main>
    </div>
    <script src="./js/script.js"></script>
</body>
</html>